<footer class="footer">
    <div class="container">
      <div class="footer-section">
        <h3>ADDRESS</h3>
        <p>
          Marine building<br>
          Ponnurunni,<br>
          Vyttila, Cochin,<br>
          Eranakulam, Kerala - 682019
        </p>
      </div>
  
      <div class="footer-section">
        <h3>GET IN TOUCH</h3>
        <p><i class="fa fa-phone"></i> +919656709375 (IND)</p>
        <p><i class="fa fa-phone"></i> +971555983977 (UAE)</p>
        <p><i class="fa fa-envelope"></i> infoglobalexporters.com</p>
      </div>
  
      <div class="footer-section">
        <h3>QUICK LINK</h3>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#who-we-are">Who we are</a></li>
          <li><a href="#our-exclusive">Our Exclusive</a></li>
          <li><a href="#our-products">Our Products</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h3>OUR PRODUCTS</h3>
        <ul>
          <li>Oils</li>
          <li>Pickles</li>
          <li>Seafoods</li>
          <li>Appliances</li>
          <li>Fruites</li>
          <li>vegetables</li>
        </ul>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>Copyright © 2024 LIBA ENTERPRISES. All Rights Reserved.</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>
  