/* General styles */
.contact-page {
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-image: url('../../../assets/contact_page2.jpg'); /* Replace with your preferred image URL */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px 0;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    margin: 0;
  }
  
  .breadcrumb {
    text-align: center;
    color: #666;
    margin: 10px 0;
  }

  
  .section_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
  }
  
  .vision-section p,
  .mission-section p{
    text-align: justify;
  text-justify: inter-word; /* Adds better spacing between words */
  line-height: 1.6; /* Adjusts line spacing for readability */
  }
  .vision-section ,
  .mission-section {
    text-align: center;
  
  }
  
  .icon {
    font-size: 2rem;
  }
  
  .image-section {
    text-align: center;

  }
  
  .coconut-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    
  }
  
  /* Responsive Design */
  @media (max-width: 968px) {
    .section_container {
      grid-template-columns: 1fr;
      text-align: center;
      padding: 10%;
     
    }
  
    .image-section {
      display: none;
    }
  }
  
