<div class="about-page">
    <!-- Hero Section -->
    <div class="header">
        <h1 class="title">ABOUT US</h1>
      </div>
      <p class="breadcrumb"><a href="/">Home</a> / About</p>
  
   

      <div class="section_container">
        <div class="vision-section">
          <div class="icon">👁️</div>
          <h2>OUR VISION</h2>
          <p>
            <q>To provide the world with safe and healthy food options</q>
            We are always exploring and pushing the frontiers of what foods, drinks,
            and nutritional health solutions can do to improve quality of life and
            contribute to a healthier future. We direct our efforts and resources to
            areas where unleashing the power of food can make the largest difference
            in people's lives, preserve and improve the environment, and produce
            considerable value for our shareholders and stakeholders.
          </p>
        </div>
      
        <div class="image-section">
          <img
            src="../../../assets/coconut.jpg"
            alt="coconu"
            class="coconut"
          />
        </div>
      
        <div class="mission-section">
          <div class="icon">🎯</div>
          <h2>OUR MISSION</h2>
          <p>
            <q>To ensure the same level of quality and hygiene in all our exports and
            set a new standard of expectations among our patrons</q>
            We take our promises very seriously in delivering high-quality food
            products. Our team comprises passionate individuals who share the same
            motive to make the food industry a safe haven devoid of illicit additives
            and unethical practices. Being in one of the most fiercely competitive
            markets in the world, we stick to our core values of customer satisfaction
            and consumer safety above anything else.
          </p>
        </div>
      </div>
      
  </div>
  