<div class="about-page">
    <!-- Hero Section -->
    <div class="header">
        <h1 class="title">ABOUT US</h1>
      </div>
      <p class="breadcrumb"><a href="/">Home</a> / About</p>
  
   

      <div class="section_container">
        <div class="vision-section">
          <div class="icon">👁️</div>
          <h2>OUR VISION</h2>
          <p>
            Our vision is to be a leading global exporter, recognized for our vast product range, innovation, and commitment to excellence. We strive to connect businesses to the world's best products, fostering growth and success for our partners by providing reliable solutions that meet their needs and exceed expectations in every market we serve.
          </p>
        </div>
      
        <div class="image-section">
          <img
            src="../../../assets/coconut.jpg"
            alt="coconu"
            class="coconut"
          />
        </div>
      
        <div class="mission-section">
          <div class="icon">🎯</div>
          <h2>OUR MISSION</h2>
          <p>
            Our mission is to empower businesses worldwide by providing a diverse range of high-quality products from trusted suppliers across the globe. We are committed to delivering exceptional value through reliable service, competitive pricing, and seamless logistics, helping our partners succeed in an ever-evolving marketplace.
          </p>
        </div>
      </div>
      
  </div>
  